.slogan{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 40.5;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: $tertiary-txt-color;
    width: 657px;
    margin: 0 auto;
    margin-top: 200px;
}

.hero--bg{
    background-image: url("/images/Img\ \(12\).jpg");
}